@import 'variables';

@function map-set ($map, $key, $value) {
	$new: ($key: $value);
	@return map-merge($map, $new);
}

@function update-list-in-map ($map, $key, $value) {
	$list: map-get($map, $key);
	$list: append($list, $value);
	@return map-set($map, $key, $list);
}

@function get-columns ($columns) {
	$unique-index: ();
	$columns-list: ();
	@each $column in $columns {
		@for $i from 1 through $column {
			@if $column % $i == 0 and not(map-has-key($unique-index , $i)) {
				$unique-index: map-set($unique-index, $i, true);
				$columns-list: append($columns-list, $i);
			}
		}
	}
	@return $columns-list;
}

@function get-class-name ($name, $breakpoint: null, $offset: false) {
	@if $breakpoint {
		$breakpoint: #{$breakpoint}-;
	}
	$class-name: '.#{$prefix}#{$breakpoint}#{$name}';
	@if $offset {
		$class-name: '.#{$prefix}offset-#{$breakpoint}#{$name}';
	}
	@return $class-name;
}

@function get-breakpoint ($breakpoint) {
	$breakpoint-value: map-get($breakpoints, $breakpoint);
	@if $breakpoint-value {
		$breakpoint: $breakpoint-value;
	}
	@return $breakpoint;
}