$columns: 5 12 !default;
$column-offset: true !default;
$column-gap: 5px !default;
$breakpoints: (
	sm: 36em, // 576px
	md: 48em, // 768px
	lg: 62em, // 992px
	xl: 75em, // 1200px
) !default;
$prefix: 'col-' !default;
$float-layout: false !default;
